@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor--primaria: #FFF5E0;
    --cor-secundaria: #141E46;
    --cor--terciaria: #C70039;
    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 1.6% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px
}

.cabecalho__menu__link{
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--cor--secundaria);
}


.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5% 15%;
}

.apresentacao__conteudo{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-principal);
}

.destaque{
    color: var(--cor--terciaria);
}

.apresentacao__conteudo__subtitulo{
    font-size: 28px;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    word-spacing: 2px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

p .cabecalho__menu__link{
    font-size: 30px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--cor--terciaria);
}

.apresentacao__conteudo__lista{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.apresentacao__conteudo__lista__principal{
    font-size: 26px;
    word-spacing: 2px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.apresentacao__conteudo__lista__secundaria{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 24px;
    word-spacing: 2px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.rodape{
    border-top: 1.5px solid ;
    padding: 24px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
    color: var(--cor--primaria);
    background-color: var(--cor--terciaria);
}
